{% load static %}
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <br />
        <h1 class="mb-4">Contact Information</h1>
      </div>
      <div class="col-md-12 text-center">
        <a href="mailto:fulldevstudios@gmail.com" style="font-size: 20px">
          <img
            style="width: 30px"
            src="{% static 'icons8-mail-100.png' %}"
            alt="Email"
            class="contact-icons"
          />
          fulldevstudios@gmail.com
        </a>
      </div>
      <br /><br />
      <div class="col-md-12 text-center">
        <a href="https://github.com/Ebu13">
          <img
            style="width: 20px"
            src="{% static 'icons8-github.svg' %}"
            alt="GitHub"
            class="contact-icons"
          />
        </a>
        <a href="https://dribbble.com/devebu">
          <img
            style="width: 20px"
            src="{% static 'icons8-dribbble-100.png' %}"
            alt="Dribbble"
            class="contact-icons"
          />
        </a>
        <a href="https://www.linkedin.com/in/ebubekir-nazli-13esn/">
          <img
            style="width: 20px"
            src="{% static 'icons8-linkedin-100.png' %}"
            alt="LinkedIn"
            class="contact-icons"
          />
        </a>
      </div>
    </div>
  </div>