{% extends 'index.html' %}
{% block main %}
<!-- Section 1: Education Information -->
<section id="education" class="container">
    <div class="row">
      <div class="col-md-12 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Education Information</h5>
            <p class="card-text">
              I am currently studying Software Engineering at Inonu
              University and I am in my second year.
            </p>
          </div>
        </div>
        <div style='height: 230px;'></div>
      </div>
    </div>
  </section>
  {% endblock main %}