{% extends 'index.html' %}
{% block main %}
<!-- Section 3: Skills -->
<section id="skills" class="container">
    <div class="text-center">
      <br />
      <h1 class="card-title text-center">Skills</h1>
    </div>
    <div class="row">
      <br />
      <div class="col-md-12 mt-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Microsoft Office/PDF Editing</p>
            <ul>
              <li>Intermediate Level</li>
            </ul>
            <p class="card-text">UI/UX Design</p>
            <ul>
              <li>Figma</li>
              <li>Adobe XD</li>
            </ul>
            <p class="card-text">C/C++/C#/Java/Python Syntax</p>
            <ul>
              <li>Advanced Level</li>
            </ul>
            <p class="card-text">HTML/CSS/JS/Bootstrap</p>
            <ul>
              <li>Intermediate Level</li>
            </ul>
            <p class="card-text">Database CRUD Operations</p>
            <ul>
              <li>Advanced Level</li>
            </ul>
            <p class="card-text">English</p>
            <ul>
              <li>Reading, Writing, and Speaking</li>
            </ul>
            <p class="card-text">Arabic</p>
            <ul>
              <li>Level A1</li>
            </ul>
            <p class="card-text">German</p>
            <ul>
              <li>Level A2</li>
            </ul>
            <p class="card-text">API</p>
            <ul>
              <li>Beginner Level</li>
            </ul>
            <p class="card-text">Adobe Logo/Icon/PDF/Photoshop</p>
            <ul>
              <li>Intermediate Level</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock main %}